*.mp4
*.mp3
*.wav
*.avi
*.mkv
*.flv
*.wmv
*.mov
*.flac
*.flp
*.png
*.jpg
*.jpeg
*.ico
*.gif
.cursorignore
.env
env
venv
!BOSS_rc30_LoopStation_Manual_p14.png
!BOSS_rc30_LoopStation_Manual_p15.png